{{- if not .Boosted -}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Name</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    {{- template "navbar.html" . -}}
    <!-- Page -->
    {{- template "page" . -}}
    <!-- Footer -->
    {{- template "footer.html" . -}}
  </body>
</html>

{{- else -}}

<!-- Navbar -->
{{- template "navbar.html" . -}}
<!-- Page -->
{{- template "page" . -}}
<!-- Footer -->
{{- template "footer.html" . -}}

<!-- -->
{{- end -}}
