<!-- Navigation Bar -->
<nav class="bg-gray-900 text-white p-4" hx-boost="true">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold">Restaurant Name</a>
    {{- $ActivePage := .ActivePage -}}
    <ul class="flex">
      {{- range .NavItems -}}
      <!-- prettier-ignore -->
      {{- $ActiveClass := "font-semibold rounded bg-gray-600" -}}
      {{- $InactiveClass := "hover:text-gray-300" -}}
      {{- $CommonClass := "w-20 py-2 flex justify-center" -}}
      <li
        class="{{ $CommonClass }} {{- if eq .Uri $ActivePage }} {{ $ActiveClass }} {{ else }} {{ $InactiveClass }}  {{ end }}"
      >
        <a href="{{ .Uri }}">{{ .Label }}</a>
      </li>
      {{- end -}}
    </ul>
  </div>
</nav>
